.DS_Store
**/.DS_Store

.build/
**/.build/
.swiftpm/
**/.swiftpm/

DerivedData/
*.xcuserstate
xcuserdata/
**/xcuserdata/

*.xccheckout
*.xcscmblueprint

build/
*.ipa
*.dSYM
*.dSYM.zip

*.swp
*.tmp
*~
